# Entorno virtual (tu caso específico)
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales de Jupyter Notebook
main_mission-checkpoint.ipynb 
gmat_env-checkpoint.ipynb 
LoadMission-checkpoint.ipynb 

# Archivos de configuración de VSCode (opcional)
.vscode/
